@use 'base';

nav {
  height: 120px;
  width: 100%;
  background-color: base.$primary-color;
  color: #fff;
  padding: 0 1.5em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.nav-logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
 }

.nav-right {
  margin-top: 1rem;
 }

.nav-right:hover {
  cursor: pointer;;
 }

.nav-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  color: base.$secondary-color;
  animation: updown 1.5s ease infinite;
 }
 
 @keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}