@use 'base';

.tweet {
  border: 0.3rem solid base.$text-color;
  padding: 1rem;
  margin: 1.5rem;
  word-wrap: break-word;
}

.tweet:hover {
  box-shadow: 10px 10px #C9C2C7;

}

.tweet header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 1rem 1rem;
}

.tweet .user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet .user-name {
  margin-left: 1rem;
}

.tweet .user-id {
  font-weight: 400;
  color: #C9C2C7;
}

.tweet p {
  border-bottom: 0.3rem solid base.$text-color;
  padding: 0.5rem;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
  font-size: 1rem;
}

.tweet .icon {
  margin-right: 0.5rem;
  color: base.$primary-color;
}

.tweet .icon:hover {
  color: goldenrod;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .tweet {
    min-width: 70%;
  }
}