header {
  height: 400px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/black-thread.png);
  background-color: orange;
  color: #fff;
}