.avater-header{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  background-image: url(/images/black-thread.png);
  background-color:#E6DF2E;
  color: #fff;
}

.avater-img {
  margin-top: 10rem;
}

.name {
 margin-bottom: 3rem;
}

@media only screen and (min-width: 1024px) {
  .avater-header {
    min-width: 35%;
    margin: 13rem 5rem;
    /* max-height: 500px; */
  }

  .avater-img {
    margin-top: 5rem;
  }
}