
nav {
  background-color: #4056A1;
  color: #fff;
  width: 100vw;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
 }

