
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  color: #fff;
  width: 100vw;
  height: 120px;
  padding: 0 1.5em;
  position: fixed;
}

nav .logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
 }

 nav .right {
  margin-top: 1rem;
 }

 nav .arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  color: red;
 }