.new-tweet__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  justify-content: center;
}

.new-tweet__form textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 0.3rem solid #545149;
}

.new-tweet__tweet {
  display: flex;
  font-family: "bungee";
  margin-top: 2rem;
  justify-content: space-between;
}

.new-tweet__button {
  border: none;
  background-color: #4056A1;
  color: #fff;
  font-family: 'Bungee', cursive;
  padding: 0.5rem 1rem;
}

.new-tweet__error {
  display: none;
  justify-content: center;
  align-items: center;
  border: dotted #CA241C;
  font-weight: 500;
  color: #CA241C;
}

@media only screen and (min-width: 1024px) {
  .new-tweet__form {
    width: 70%;
  }
}