
article.tweet {
  border: 0.3rem solid #545149;
  padding: 1rem;
  margin: 2.5rem;
}

article.tweet:hover {
  box-shadow: 10px 10px #C9C2C7;

}

article.tweet header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 1rem 1rem;
}

article.tweet .user-id {
  font-weight: 400;
  color: #C9C2C7;
}

article.tweet p {
  border-bottom: 0.3rem solid #545149;
  padding: 0.5rem;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
  font-size: 1rem;
}

article.tweet .icon {
  color: #41528D;
}

article.tweet .icon:hover {
  color: goldenrod;
}